<main class="form-signin w-100 m-auto">
    <form [formGroup]="form" (submit)="submit()">
      <h1 class="h3 mb-3 fw-normal">Please Register</h1>
      <div>
        <label>upload yout profile image (PNG, JPG)</label>
        <input  formControlName="avatar" type="file" name="image_uploads" accept=".jpg, .jpeg, .png" multiple>
      </div>
      <div class="form-floating">
        <input  formControlName="first_name" class="form-control"  placeholder="first name">
        <label>First name</label>
      </div>
      <div class="form-floating">
        <input formControlName="last_name" class="form-control"  placeholder="Last name">
        <label >Last name</label>
      </div>
      <div class="form-floating">
        <input formControlName="email" type="email" class="form-control"  placeholder="name@example.com">
        <label>Email address</label>
      </div>
      <div class="form-floating">
        <input formControlName="password" type="password" class="form-control"  placeholder="Password">
        <label>Password</label>
      </div>
      <div class="form-floating">
        <input formControlName="password_confirm" type="password" class="form-control" placeholder="Password Confirm">
        <label >Password Confirm</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
  </main>

